table {
  width: 80%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.month-event {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.table-content {
  text-align: center;
}

.table-header {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.income-cell {
  background-color: #b0eaa2;
}

.expenditure-cell {
  background-color: #db9da5;
}


.button-right {
  float: right
}

.tool-button {
  border-radius: 2px;
  font-size: 10px;
}

