<mat-toolbar fxFlex color="primary">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <a mat-button routerLink='home' routerLinkActive='active' class="margin_class" appHighlight><h1><b>Home</b></h1></a>
  <a mat-button routerLink='finances' routerLinkActive='active' class="margin_class" appHighlight><h1><b>Finances</b>
  </h1></a>
  <a mat-button [routerLink]="['about']" routerLinkActive='active' class="margin_class" appHighlight><h1>
    <b>About</b></h1></a>
  <a mat-button routerLink='browser' routerLinkActive='active' class="margin_class" appHighlight><h1><b>Browser</b></h1>
  </a>
  <div class="flex-spacer"></div>
  <button mat-button (click)="onAddEvent()"><i class="fa fa-plus" style="font-size: 2.5em;"></i></button>

</mat-toolbar>
