<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" fxLayoutGap="10px" fxFlex fxLayout="column">
  <mat-card>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <button mat-button (click)="onPreviousMonth()"><i class="fa fa-toggle-left" style="font-size: 2.0em;"></i></button>
        <h1 class="year">{{currentYear}}</h1>
        <button mat-button (click)="onNextMonth()"><i class="fa fa-toggle-right" style="font-size: 2.0em;"></i></button>
      </div>


    <mat-grid-list cols="6" [gutterSize]="'2px'">
      <mat-grid-tile *ngFor="let month of monthNames">
        <a mat-button [routerLink]="[currentYear, month]" class="margin_class"
           appHighlight>
          <div class="month-button">
            <p><b>{{month}}</b>:  {{balance[month.toUpperCase()]}} $</p>
          </div>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
    <app-footer></app-footer>
  </mat-card>
</div>



