<div class="container" fxLayoutGap="10px" fxFlex fxLayout="column">
  <mat-card>
    <mat-card-title class="year">
      {{currentYear}}
    </mat-card-title>
    <mat-grid-list cols="6" [gutterSize]="'2px'">
      <mat-grid-tile *ngFor="let month of monthNames">
        <a mat-button [routerLink]="[currentYear, month]" class="margin_class"
           appHighlight>
          <div class="month-button">
            <p><b>{{month}}</b>:  {{balance[month.toUpperCase()]}} $</p>
          </div>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
    <app-footer></app-footer>
  </mat-card>
</div>



