<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container" fxLayoutGap="0px" fxFlex fxLayout="column">
  <h1 class="center">You can find me on Github or LinkedIn:</h1>
  <div fxFlex fxFlexOffset="100px" class="center">
    <a mat-raised-button href="https://www.linkedin.com/in/przemyslaw-jablecki/">
      <i class="fa fa-linkedin" style="font-size: 2.5em;"></i> LinkedIn</a>
    <div class="divider"></div>
    <a mat-raised-button href="https://github.com/pszemkor">
      <i class="fa fa-github" style="font-size: 2.5em;"></i> Github </a>
  </div>
</div>

