<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div fxFlex fxLayout="column">
  <div>
    <h1 class="center">#TODO</h1>
  </div>
  <div fxFlex fxFlexOffset="200px" class="center">
    <a mat-raised-button href="https://www.linkedin.com/in/przemyslaw-jablecki/">
      <i class="fa fa-linkedin"></i> LinkedIn</a>
    <div class="divider"></div>
    <a mat-raised-button href="https://github.com/pszemkor">
      <i class="fa fa-github"></i> Github </a>
  </div>
</div>

